<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Template Title</title>
	
	<link rel="stylesheet" href="/public/style.css">
		body {padding: 50px;}
	</style>
</head>

<body class="container">

<header>
 	<ul>
 		<li><a href="/">Home</a></li>
 		<li><a href="/about">About</a></li>
 		<li><a href="/portfolio">Portfolio</a></li>
 	</ul>
	</div>
</header>