main{
	margin: 8px;
}

ul{
	position: sticky;
	top: 0;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

li{
	float: left;
}

li a{
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover{
	background-color: #111;
}

.link-project:active{
	color: black;
}

.link-project:visited{
	color: DarkMagenta;
}

.splash{
	cursor: pointer;
	position: fixed;
	top: 50%;
	left: 50%;
	height: 100%;
	width: 100%;
	transform: translate(-50%, -50%);
	background-color: rgb(0, 0, 0);
	transition: all ease-in-out 600ms;
}

.splash-header{
	height: 50%;
	color: white;
	font-family: consolas;
	font-size: 30px;
	display: flex;
	justify-content: center;
	text-align: center;
	margin: 23%;
}

.hidden{
	transition: 0.5s;
	display: none;
}

.flex-container-bio{
	display: flex;
}

.slider{
	width: 100%;
	max-width: 1500px;
	height: 400px;
	position: relative;
	overflow: hidden;
	border: 1px solid black;
	border-radius: 25px;
}

.slide{
	width: 100%;
	max-width: 800px;
	height: 350px;
	position: absolute;
	object-fit: cover;
}

.btn {
	position: absolute;
	width: 10px;
	height: 10px;
	padding: 10px;
	border: none;
	border-radius: 50%;
	z-index: 10px;
	cursor: pointer;
	background-color: #fff;
	color: red;
	font-size: 32px;
}

.btn:active{
	transform: scale(1.1);
}

.btn-prev{
	left:1%;
	bottom: 10%;
}

.btn-next{
	right:2%;
	bottom: 10%;
}

.flex-container-portfolio{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	resize: both;
	overflow: auto;
	overflow-x: auto;
	background-color: #eee;
}

.heading-center{
	text-align: center;
	margin-top: 25px;
	font-family: "Lato", sans-serif;
}

.heading-sub{
	padding-left: 15px;
	font-style: italic;
}

.heading-portfolio-entry{
	text-align: left;
	padding-left: 10px;
	margin-top: 15px;
	text-decoration: underline;
}

.link-new-tab{
	font-size: 150%;
	target: _blank;
  	rel: noopener noreferrer
}

.text-portfolio-entry{
	text-align: left;
	padding-left: 75px;
	inline-size: 800px;
	font-size: 125%;
}

.text-construction{
	color: red;
	text-align: center;
	font-size: 150%;
}

.img-portfolio-entry{
	float: left;
}

img {
	max-width: 50%;
	height: auto;
}

#bio-img{
	display: block;
	float: left;
}

#test-text{
	color: red;
	font-size: 150%;
}