ul{
	position: sticky;
	top: 0;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

li{
	float: left;
}

li a{
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover{
	background-color: #111;
}

.flex-container-bio{
	display: flex;
}

.flex-container-portfolio{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	resize: both;
	overflow: auto;
	background-color: #eee;
}

.heading-center{
	text-align: center;
	margin-top: 50px;
	font-family: "Lato", sans-serif;
}

.heading-portfolio-entry{
	text-align: left;
	margin-top: 15px;
	text-decoration: underline;
}

.text-portfolio-entry{
	text-align: left;
	font-size: 125%;
}

.img-portfolio-entry{
	float: left;
}

img {
	max-width: 50%;
	height: auto;
}

#bio-img{
	display: block;
	float: left;
}