<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="style.css">
<head>
	<%- include('../partials/head'); %>
</head>
<body class="container">

<header>
	<%- include('../partials/header'); %>
</header>

<main>
	<header>
    	<h2 class="heading-center">ABOUT ME</h2>
    </header>
    <img id="bio-img" src="/pages/buffoon.jpg">
    <div class ="flex-container-bio">
    	<p style="font-size: 150%;padding-left:15px;inline-size:1000px">Gabe is from Oceanside, California where he works as the Assistant Center Director at
    												  Mathnasium of South Escondido. While his skills are geared towards Math education, 
    												  he has a B.S in Computer Science from California State University, San Marcos. <br /><br /> 
    												  Gabe is also a musician, having played wind instruments for almost 20 years. His specializations are 
    												  saxophone and tuba, playing every musical style from classical to jazz. He has performed with several groups, including the University of California, Irvine
    												  symphony orchestra and Pacific Crest Drum and Bugle corps. 
    												  </p>
    	<a href = "https://github.com/ellergabriel" style="font-size: 150%;padding-left: 15px" target="_blank" rel="noopener noreferrer">GitHub Account</a>
    	<img src="/pages/2015 show.jpg">    												  
    </div>
</main>

<footer>
	<%- include('../partials/footer'); %>
</footer>