<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="style.css">
<head>
	<%- include('../partials/head'); %>
</head>
<body class="container">

<header>
	<%- include('../partials/header'); %>
</header>

<main>
	<p id="test-text"> this is an about page </p>
</main>