<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('../partials/head'); %>
</head>
<body class="container">

<header>
	<%- include('../partials/header'); %>
</header>

<main>
	<h2 class="heading-center">Welcome!</h2>
	
</main>
<div class="splash">
	<h1 class="splash-header">This is my website</h1>
</div>

<footer>
	<%- include('../partials/footer'); %>
</footer>

</body>

<script>
	var splashScreen = document.querySelector('.splash');
	if(!sessionStorage.isVisited){
		splashScreen.addEventListener('click', ()=> {
			splashScreen.style.opacity = 0;
			setTimeout( ()=>{
				splashScreen.classList.add('hidden')
			}, 610)
			sessionStorage.isVisited = 'true';
		});
	} else {
		splashScreen.style.opacity = 0;
		splashScreen.classList.add('hidden');
	}
</script>
</html>		