<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<link rel ="stylesheet" href="style.css">

<head>
	<%- include('../partials/head'); %>
</head>
<body class="container">
<header>
	<%- include('../partials/header'); %>
</header>

<main>
	<h2 class="heading-center">PORTFOLIO</h2>
	
</main>


<footer>
	<%- include('../partials/footer'); %>
</footer>